<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/pico-custom.css" />
    <link rel="stylesheet" href="/css/style.css" />
    {% if css %}<link rel="stylesheet" href="{{css}}" />{% endif %}  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" />
    <script type="text/javascript" src="/script/menu.js"></script>
    {% if script %}<script type="text/javascript" src="{{script}}"></script>{% endif %}  
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>
      {{title}}
    </title>
  </head>
  <body>

    <nav>
      <a href="/" class="brand">Match Mingler</a>
      <a href="/events" class="contrast"><small>Events</small></a>
      <a href="/about" class="contrast"><small>About</small></a>
      <a href="/contact" class="contrast"><small>Contact</small></a>
      <a href="javascript:void(0);" class="contrast menu" onclick="toggleMenu()">
        <svg width="14" height="16">
          <path d="M0,1 14,1" stroke="currentColor" stroke-width="2"/>
          <path d="M0,6 14,6" stroke="currentColor" stroke-width="2"/>
          <path d="M0,11 14,11" stroke="currentColor" stroke-width="2"/>
        </svg>
      </a>
    </nav>

    {{ content | safe }}

  </body>
</html>
